.content{
    width: 500px;
    margin: 0 auto;
    
}

img{
    width: 500px;  
    
}

.text1{
    
    position: absolute;
    width: 500px;
    margin-left: -240px;
    margin-top: 10px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 3px black;
    font-family: fantasy;
}
.text2{
    
    
    position:absolute;
    margin-top: -200px;
    margin-left: -240px;
    width: 500px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    border-color: black;
    -webkit-text-stroke: 3px black;
    font-family: fantasy;

    
}
